body {
  background-image: url("https://drive.google.com/uc?export=download&id=0B-WMMThnqhkWclAxSXI4SndVZG8");
  color: darkgreen;
}

.jerry {
  font-family: 'Aclonica';
}

.jumbotron {
  background: lightgrey;
  margin-top: 5rem;
}

#word1 {
  color: red;
}

#word2 {
  color: blue;
}

#word3 {
  color: red;
}

#word4 {
  color: orange;
}

#word5 {
  color: blue;
}

#word6 {
  color: darkgreen;
}